<h1 class="mb-3">タスク一覧</h1>

<%= link_to '新規登録', new_task_path, class: 'btn btn-primary mb-3'%>

<%= search_form_for @q, class: "my-3" do |f|%>
  <div class="form-group row mb-2">
    <%= f.label :name_cont, '名称', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.search_field :name_cont, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary mb-3"%>
<% end %>

<div class="mb-3">
  <%= page_entries_info @tasks %>
</div>

<table class="table table-hover mb-3">
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <th><%= sort_link(@q, :created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="align-middle"><%= link_to task.name, task %></td>
      <td class="align-middle"><%= task.created_at %></td>
      <td class="align-middle">
        <%= link_to '編集', edit_task_path(task), class: 'btn btn-primary mr-3' %>
        <%= link_to '削除', task, data: { turbo_method: :delete, turbo_confirm: "タスク「#{task.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="mb-3">
  <%= paginate @tasks, theme: 'bootstrap-5'%>
</div>

<%= link_to 'エクスポート', tasks_path(format: :csv), class: 'btn btn-primary mb-3' %>

<%= form_tag import_tasks_path, multipart: true, class: 'input-group mb-3' do %>
  <%= file_field_tag :file, class: 'form-control' %>
  <%= submit_tag "インポート", class: 'btn btn-primary' %>
<% end %>